<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/layout.css" />

    <title>Document</title>
  </head>
  <body>
    <div class="notFound">
      <img src="/images/error/oouch404.png" alt="" />
    </div>
    <div class="home">
      <a href="/">홈으로 가기</a>
    </div>
  </body>
</html>
